main {
    max-width: 50em;
    margin: auto;
}
header {
    background-color: #263d36;
    background-image: url("images/beach.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 1.2;
    padding: 10vw 2em;
    text-align: center;
}
body{
    margin: 0 auto;
    font-family: "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    /* padding: 4em 1em; */
    color: #555;
}

h1 {
    color: #803b5186;
    font-size: 55px;
}
h2 {
    margin-top: 1em;
    padding-top: 1em;
}